@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <p>Class:</p>
    <p>@ViewData["d1"]</p>
    <p>@ViewData["d2"]</p>
    <p>@ViewData["d3"]</p>
    <p>@ViewData["d4"]</p>
    <p>@ViewData["d5"]</p>
    <p>@ViewData["d6"]</p>

    <p>Record:</p>
    <p>@ViewData["d7"]</p>
    <p>@ViewData["d8"]</p>
    <p>@ViewData["d9"]</p>
    <p>@ViewData["d10"]</p>
    <p>@ViewData["d11"]</p>
    <p>@ViewData["d12"]</p>
</div>
